.FP-nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.FP{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

.FP-h1{
    font-size: 100px;
}

.FP-form{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.FP-form-input{
    height: 50px;
}